{{#partial "content"}}

    <h1>Current Teams:</h1>

    {{#if teams}}
        {{#each teams }}
            <p>{{ name }}</p>
            <p>{{ description }}</p>
            {{#each members}}
                <p>{{this }}</p>
            {{/each}}
        {{/each}}
    {{else}}
        <p>No Teams to Show!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}